nav.header
  .container
    span.logo 益启帮
    ul.float-right
      li
        i.fa.fa-home
        a(href='/') 首页
      li
        i.fa.fa-search
        a(href='/search') 搜索
      li
        if userData.userinfo
          img.avt(src='#{userData.userinfo.userImg}', alt='头像')
          a(href='/user/#{userData.userinfo.userId}') #{userData.userinfo.userNickname}
        else
          i.fa.fa-sign-in
          a(href='/signin') 登录 
          i.fa.fa-sign-out
          a(href='/signup') 注册
        