nav.header
  .container
    span.logo(style='font-size:1.1em;font-weight:bold;') 益启帮
    ul.float-right
      li
        i.fa.fa-home
        a(href='/') 首页
      li
        i.fa.fa-search
        a(href='/search') 搜索
      li
        i.fa.fa-user
        - if(session.userinfo && session.userinfo.userId)
          a(href='/user/#{session.userinfo.userId}') 我的
        - else
          a(href='/signin') 我的
