head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/plugins/font-awesome/4.6.1/css/font-awesome.css')
    link(rel='stylesheet', href='/plugins/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src='/plugins/jquery/2.2.3/jquery.min.js')
    script(src='/plugins/bootstrap/3.3.5/js/bootstrap.min.js')
  