nav.header
  .container
    span.logo LOGO
    ul.float-right
      li
        i.fa.fa-home
        a(href='#') 首页
      li
        i.fa.fa-search
        a(href='#') 搜索
      li
        i.fa.fa-user
        a(href='#') 我的