<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>你我帮扶</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/plugins/font-awesome/4.6.1/css/font-awesome.css">
	<link rel="stylesheet" href="/plugins/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<nav class="header">
		<div class="container">
			<span class="logo">LOGO</span>
			<ul class="float-right">
				<li><i class="fa fa-home"></i><a href="#">首页</a></li>
				<li><i class="fa fa-search"></i><a href="#">搜索</a></li>
				<li><i class="fa fa-user"></i><a href="#">我的</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<!-- 商户 -->
		<div class="cart-item">
			<!-- 商户名 -->
			<div class="cart-item-shopname">商户1</div>
			<!-- 商户的商品 -->
			<div class="cart-item-shopitem">
				<div class="cart-item-select">
					<div class="cart-item-select-button">
						<input type="checkbox" name="good_id">
						<div class="cart-item-img">
							<img src="/images/素材/车厘子.jpg">
						</div>
					</div>
				</div>
				<div class="cart-item-description">
					<div class="cart-item-des-title">
						这是商品的标题
					</div>
					<div class="cart-item-des-price">
						¥ 12.56
					</div>
				</div>
				<div class="cart-item-right">
					<i class="fa fa-times-circle-o" aria-hidden="true"></i>
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">-</button>
						</span>
						<input type="tel" class="form-control" value="100">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">+</button>
						</span>
					</div>
				</div>
			</div>
			<div class="cart-item-shopitem">
				<div class="cart-item-select">
					<div class="cart-item-select-button">
						<input type="checkbox" name="good_id">
						<div class="cart-item-img">
							<img src="/images/素材/车厘子.jpg">
						</div>
					</div>
				</div>
				<div class="cart-item-description">
					<div class="cart-item-des-title">
						这是商品的标题
					</div>
					<div class="cart-item-des-price">
						¥ 12.56
					</div>
				</div>
				<div class="cart-item-right">
					<i class="fa fa-times-circle-o" aria-hidden="true"></i>
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">-</button>
						</span>
						<input type="tel" class="form-control" value="100">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">+</button>
						</span>
					</div>
				</div>
			</div>
			<div class="cart-item-shopitem">
				<div class="cart-item-select">
					<div class="cart-item-select-button">
						<input type="checkbox" name="good_id">
						<div class="cart-item-img">
							<img src="/images/素材/车厘子.jpg">
						</div>
					</div>
				</div>
				<div class="cart-item-description">
					<div class="cart-item-des-title">
						这是商品的标题
					</div>
					<div class="cart-item-des-price">
						¥ 12.56
					</div>
				</div>
				<div class="cart-item-right">
					<i class="fa fa-times-circle-o" aria-hidden="true"></i>
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">-</button>
						</span>
						<input type="tel" class="form-control" value="100">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">+</button>
						</span>
					</div>
				</div>
			</div>

			<div class="cart-item-bottom">
				<input type="checkbox" name="good_id">
				<span>¥ 123.45</span>
				<button class="btn btn-default">结算</button>
			</div>
		</div>
	</div>
</body>
</html>