extends ../layout

block content 
  .container
    .mask
      .head-box(style='font-size: 30px')
        | 用户注册
    .item-signin
      .item-signin-box
        form.form-horizontal
          .form-group
            label.col-sm-2.control-label(for='phone') 手机号
            .col-sm-10
              input#phone.form-control(type='tel', name='phone')
          .form-group
            label.col-sm-2.control-label(for='pass') 密码
            .col-sm-10
              input#pass.form-control(type='password', name='pass')
          .form-group
            label.col-sm-2.control-label(for='pass_sec') 重复密码
            .col-sm-10
              input#pass_sec.form-control(type='password', name='pass_sec')
          .form-group
            label.col-sm-2.control-label(for='pass_pay') 支付密码
            .col-sm-10
              input#pass_pay.form-control(type='password', name='pass_pay') 
          .form-group
            .col-sm-offset-2.col-sm-10
              button#sub.btn.btn-default.btn-block(type='submit') 注册
  script(src='/plugins/jquery/2.2.3/jquery.min.js')
  script(type='text/javascript', src='/plugins/layer/layer.js')
  script(src='/js/signup.js')
