<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>你我帮扶</title>
	<link rel="stylesheet" href="./public/css/style.css">
	<link rel="stylesheet" href="./public/plugins/font-awesome/4.6.1/css/font-awesome.css">
	<link rel="stylesheet" href="./public/plugins/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="./public/plugins/jquery/2.2.3/jquery.min.js"></script>
	<script src="./public/plugins/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="header">
		<div class="container">
			<span class="logo">LOGO</span>
			<ul class="float-right">
				<li><i class="fa fa-home"></i><a href="#">首页</a></li>
				<li><i class="fa fa-search"></i><a href="#">搜索</a></li>
				<li><i class="fa fa-user"></i><a href="#">我的</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="mask">
			<div class="head-box">
				<div class="head-pic-box">
					<!-- src放用户头像url -->
					<img src="head-pic.jpg" alt="头像">
				</div>
				<!-- 昵称 -->
				<span>你我帮扶:用户xxx</span>
			</div>
		</div>
		<div class="userinfo-item-container">
			<div class="userinfo-item">用户信息</div>
			<div class="userinfo-item">
				<form action="">
					<div class="form-group">
						<label for="username">昵称</label>
						<!-- value放昵称 -->
						<input type="text" class="form-control" id="username" value="你我帮扶:用户xxx">
					</div>
					<div class="form-group">
						<label for="phonenumber">手机号</label>
						<!-- value放手机号 -->
						<input type="tel" class="form-control" id="phonenumber" value="13333333333">
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default btn-block" value="提交修改">
					</div>
				</form>
			</div>


		</div>
	</div>
</body>
</html>